@model IEnumerable<DACS_WebNuocHoa.Models.NuocHoa>

@{
    ViewBag.Title = "Nước Hoa Nữ";
    Layout = "~/Views/Shared/_LayoutNuocHoaStore.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="filter" style="display: inline-block;">
    <ul style="display: inline-block; margin-right: 32px;">
        <h4>Danh Sách Sản Phẩm</h4>
        @using (Html.BeginForm("SearchNHNu", "NuocHoa", FormMethod.Get))
        {
            <p>
                @Html.TextBox("searchString", null, new { placeholder = "Tìm kiếm..." })
                <button type="submit" class="search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--la" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                        <path d="M19 3C13.488 3 9 7.488 9 13c0 2.395.84 4.59 2.25 6.313L3.281 27.28L4.72 28.72l7.968-7.969A9.922 9.922 0 0 0 19 23c5.512 0 10-4.488 10-10S24.512 3 19 3zm0 2c4.43 0 8 3.57 8 8s-3.57 8-8 8s-8-3.57-8-8s3.57-8 8-8z" fill="currentColor"></path>
                    </svg>
                </button>
            </p>
        }
    </ul>
    <ul style="display: inline-block;">
        <h4>Lọc Giá</h4>
        <form action="/nuochoa/filterbyprice_nu" method="post" style="display: inline-block;">
            <label for="minprice">Giá Min:</label>
            <input type="number" name="minprice" id="minprice" value="@ViewBag.MinPrice" />
            <label for="maxprice">Giá Max:</label>
            <input type="number" name="maxprice" id="maxprice" value="@ViewBag.MaxPrice" />
            <button type="submit">Lọc giá</button>
        </form>
    </ul>
</div>

<input type="hidden" class="auto-paginator">
<ul>
    @foreach (var item in Model)
    {
        <li>
            <div class="product-item">
                <div class="product-thumb">
                    <a href="/NuocHoa/Details/@item.MaNH"><img src="@item.Hinh" data-sizes="auto" class="lazyautosizes lazyloaded" data-src="@item.Hinh" sizes="284px"></a>
                </div>
                <div class="product-detail">
                    <div class="product-info">
                        <h6 class="product-name"><a href="/NuocHoa/Details/@item.MaNH">@item.TenNH</a></h6>
                        <div class="product-price">
                            <p>@String.Format(info, "{0:N0} đ", item.Gia)</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>


<!-- Hiển thị phân trang -->
@if (ViewBag.TotalPages > 1)
{
    <div class="pagination-centered">
        <ul class="pagination">
            @if (ViewBag.CurrentPage > 1)
            {
                <li><a href="/NuocHoa/NuocHoaNu?page=@(ViewBag.CurrentPage - 1)" class="page-link">&laquo;</a></li>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="@(i == ViewBag.CurrentPage ? "active" : "")"><a href="/NuocHoa/NuocHoaNu?page=@i" class="page-link">@i</a></li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li><a href="/NuocHoa/NuocHoaNu?page=@(ViewBag.CurrentPage + 1)" class="page-link">&raquo;</a></li>
            }
        </ul>
    </div>
}

