
<html lang="vi-VN" data-nhanh.vn-template="" ="T0457" nighteye="disabled" class="">

<head>
    <meta name="robots" content="noindex">
    <style type="text/css"></style>
    <style type="text/css">
        img {
            max-width: 100%;
        }

            img.lazyload {
                opacity: 0.001;
                object-fit: scale-down !important;
            }

        .fb-customerchat > span > iframe.fb_customer_chat_bounce_out_v2 {
            max-height: 0 !important;
        }

        .fb-customerchat > span > iframe.fb_customer_chat_bounce_in_v2 {
            max-height: calc(100% - 80px) !important;
        }
    </style>
    <script src="https://nstatic.nvncdn.com/cache/location.vn.js?v=230321_155710" defer=""></script>
    <script src="/js/lazyLoad/lazysizes.min.js" async=""></script>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>

    @Styles.Render("~/Content/Theme_NuocHoaStore/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Theme_NuocHoaStore/WebNuocHoa.css" rel="stylesheet" />

</head>

<body class=" page-home" style="" data-new-gr-c-s-check-loaded="14.1027.0" data-gr-ext-installed="">
    <input type="hidden" value="134540" id="storeId">
    <main id="root" class="home">
        <header class="header">
            <div class="nav">
                <div class="nav-logo">
                    <a href="/" title="WebNuocHoa">
                        <img class="" src="~/Content/Theme_NuocHoaStore/images/logo.png" alt="">
                    </a>
                </div>
                <div class="nav-menu">
                    <div class="d-none d-sm-block">
                        <div class="nav-menu-items">
                            <div>
                                <a href="/">Trang chủ</a>
                            </div>
                            <div>
                                <a href="/NuocHoa/NuocHoaNu">Nước hoa Nữ</a>
                            </div>
                            <div>
                                <a href="/NuocHoa/NuocHoaNam">Nước hoa Nam</a>
                            </div>
                            <div>
                                <a href="/NuocHoa/About">About</a>
                            </div>
                            <div>
                                <a href="#footerlienhe">Liên Hệ</a>
                            </div>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                    <div class="d-block d-sm-none">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             aria-hidden="true" role="img" class="iconify iconify--la" width="32" height="32"
                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                            <path d="M4 7v2h24V7zm0 8v2h24v-2zm0 8v2h24v-2z" fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
                <div class="nav-icon">
                    <div class="nav-icon-items">
                        <div class="cart-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 aria-hidden="true" role="img" class="iconify iconify--la" width="32" height="32"
                                 preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                                <path d="M16 3c-2.746 0-5 2.254-5 5v1H6.062L6 9.938l-1 18L4.937 29h22.125L27 27.937l-1-18L25.937 9H21V8c0-2.746-2.254-5-5-5zm0 2a3 3 0 0 1 3 3v1h-6V8a3 3 0 0 1 3-3zm-8.063 6H11v3h2v-3h6v3h2v-3h3.063l.875 16H7.063z"
                                      fill="currentColor"></path>
                            </svg>
                            <span data-toggle="cart_toggle">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="site-nav--mobile" class="site-nav style--sidebar">
            <div id="site-navigation" class="site-nav-container">
                <div id="mobile_top_menu_wrapper" class="row hidden-lg-up box-menu">
                    <div class="menu-close">
                        menu
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <nav class="primary-menu">
                        <ul class="menu-collection">
                            <li class="navi1 ">
                                <a href="/" title="Trang chủ">
                                    <span>Trang chủ</span>
                                </a>
                            </li>
                            <li class="navi1 ">
                                <a href="/NuocHoa/NuocHoaNu" title="Nước hoa Nữ">
                                    <span>Nước hoa Nữ</span>
                                </a>
                            </li>
                            <li class="navi1 ">
                                <a href="/NuocHoa/NuocHoaNam" title="Nước hoa Nam">
                                    <span>Nước hoa Nam</span>
                                </a>
                            </li>
                            <li class="navi1 ">
                                <a href="/news" title="Tin tức">
                                    <span>Tin tức</span>
                                </a>
                            </li>
                            <li class="navi1 ">
                                <a href="/lien-he" title="Liên Hệ">
                                    <span>Liên Hệ</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-about">
                            <li>
                                <a href="/user/signin">
                                    <span>Đăng nhập</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="new-detail-page">
            @RenderBody()
        </div>

        <footer class="footer" id="footerlienhe">
            <div class="footer-row">
                <div>
                    <h4>Web Nước Hoa</h4>
                    <p style="text-align:justify;">
                        Web Nước Hoa là một tiệm nước hoa nho nhỏ bắt nguồn từ đam mê về
                        mùi hương cũng như việc mong muốn chia sẻ với tất cả các bạn về sở thích của tụi mình, đồng thời
                        tạo ra một nơi giúp mọi người dễ dàng sở hữu bất cứ chai nước hoa nào bạn muốn. và rồi cứ thế,
                        với mục tiêu lan toả hương thơm và niềm đam mê mà <span style="text-align:justify;text-indent:10px;">Nhanh Fragrance</span> lớn lên và được tin
                        tưởng hơn mỗi ngày
                    </p>
                </div>
                <div>
                    <h4>Chi nhánh TP. Hồ Chí Minh</h4>
                    <p>Khu E, Trung tâm Đào tạo nhân lực chất lượng cao HUTECH (Khu Công Nghệ Cao, Q. 9), Thành phố Hồ Chí Minh</p>
                </div>
                <div>
                    <h4>Liên hệ</h4>
                    <div></div>
                    <div>Hotline: 1900.1900</div>
                    <div></div>
                    <div>Email: nhom_tst@gmail.com</div>
                </div>
                <div>
                    <h4>Social</h4>
                    <a target="_blank" href="https://www.facebook.com/">
                        <svg enable-background="new 0 0 56.693 56.693" height="56.693px" id="Layer_1" version="1.1"
                             viewBox="0 0 56.693 56.693" width="56.693px" xml:space="preserve"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z">
                            </path>
                        </svg>
                    </a>
                    <a target="_blank" href="/">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56.7 56.7"
                             enable-background="new 0 0 56.7 56.7" xml:space="preserve">
                        <g>
                        <path d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z">
                                </path>
                        <circle cx="41.5" cy="16.4" r="2.9"></circle>
                        <path d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6	c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z">
                                </path>
                            </g>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/">
                        <svg height="100%"
                             style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
                             version="1.1" viewBox="0 0 512 512" width="100%" xml:space="preserve"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M501.303,132.765c-5.887,-22.03 -23.235,-39.377 -45.265,-45.265c-39.932,-10.7 -200.038,-10.7 -200.038,-10.7c0,0 -160.107,0 -200.039,10.7c-22.026,5.888 -39.377,23.235 -45.264,45.265c-10.697,39.928 -10.697,123.238 -10.697,123.238c0,0 0,83.308 10.697,123.232c5.887,22.03 23.238,39.382 45.264,45.269c39.932,10.696 200.039,10.696 200.039,10.696c0,0 160.106,0 200.038,-10.696c22.03,-5.887 39.378,-23.239 45.265,-45.269c10.696,-39.924 10.696,-123.232 10.696,-123.232c0,0 0,-83.31 -10.696,-123.238Zm-296.506,200.039l0,-153.603l133.019,76.802l-133.019,76.801Z"
                              style="fill-rule:nonzero;"></path>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.tiktok.com/">
                        <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                            <path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <p class="copy"></p>
            <p>Copyright ⓒ by NhomTST Company</p>
            <p></p>
            <div class="echbay-sms-messenger">
                <a href="https://chat.zalo.me/?phone=0987135527">
                    <img class="hotline" src="~/Content/Theme_NuocHoaStore/images/logo.svg" alt="">
                </a>

            </div>
        </footer><input type="hidden" class="checkCookies" value="{&quot;2151379&quot;:&quot;2151379&quot;}"><span class="loadings"><i class="fa-spin fal fa-spinner fa-2x"></i></span>
        <div id="site-overlay" class="site-overlay"></div>
    </main>
    <script type="text/javascript"
            src="/min/f=v16_L2pzL3RyYW5zbGF0ZS92aS12bi5qcywvanMvanF1ZXJ5L2pxdWVyeS5taW4uanMsL2pzL293bENhcm91c2VsL293bC5jYXJvdXNl/bC5taW4uMi4zLjQuanMsL2pzL2pxdWVyeS9qcXVlcnkubnVtYmVyLm1pbi5qcywvanMvanF1ZXJ5L2pxdWVyeS11aS0xLjEwLjMu/Y3VzdG9tLm1pbi5qcywvanMvanF1ZXJ5L2pxdWVyeS5jb29raWUuanMsL2pzL2xpYi5qcywvanMvanF1ZXJ5L2ZhbmN5Ym94LTIu/MS41L3NvdXJjZS9qcXVlcnkuZmFuY3lib3gucGFjay5qcyxqcy9ib290c3RyYXAvYm9vdHN0cmFwLjQuMy4xLm1pbi5qcywvdHAv/VDA0NTcvanMvYWxsLW93bC5qcywvdHAvVDA0NTcvanMvc2NyaXB0Lmpz/"></script>
    <input type="hidden" class="fanpageId" value="">
    <style>
        .home .category-banner-sec {
            padding: 20px 20px;
    </style><input type="hidden" id="bussinessId" value="134540"><input type="hidden"
                                                                        value="9lHi2oYc9x975a8spEWMJY1zloStuo3g3v33K9Cb7ZGMRKyLgEvZFMUnaFYTnvvDyDw8E3Bccp4Id2fXU60MVABAHADqc90xRgmb4Hs6qPFhqEuWE0fLhuw2TNhwGmDfS21IAa9GX56v6OhdoU4iljrlq6SlvtRqEVEKhr4KvpUc45qD4dWdP2P5qeOjy3jYmfG2y40MNzrHpy0TBewjKs8s9pIJxq1lvmZOWdGQrqFRUmHKTbGz9w1XHIoXP2G"
                                                                        id="uctk" name="uctk"><input type="hidden" id="clienIp" value="118.70.31.97">
    <div id="torrent-scanner-popup" style="display: none;"></div>
    @RenderSection("scripts", required: false)
</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>

</html>
