@model IEnumerable<DACS_WebNuocHoa.Models.NuocHoa>

@{
    ViewBag.Title = "Index";
    int count = 1;
}
<style>
    img {
        width: 100px;
    }
</style>


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên Loại</th>
                    <th>Tên Nước Hoa</th>
                    <th>Mô Tả</th>
                    <th>Giá</th>
                    <th>Hình Ảnh</th>
                    <th>Ngày Cập Nhật</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.Loai.TenLoai</td>

                        <td>@item.TenNH</td>
                        <td>
                            @if (item.MoTa.Length > 50)
                            {
                                @Html.Raw(item.MoTa.Substring(0, 50))<span style="cursor:pointer" onclick="$(this).prev().toggle(); $(this).next().toggle();"> ...</span><span style="display:none">@Html.Raw(item.MoTa.Substring(50))</span>
                            }
                            else
                            {
                                @Html.Raw(item.MoTa)
                            }
                        </td>
                        <td>@item.Gia.GetValueOrDefault().ToString("N0")</td>
                        <td>
                            <img src="@item.Hinh" alt="" />
                        </td>
                        <td>@item.NgayCapNhat.Value.ToString("dd/MM/yyyy")</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.MaNH }) |
                            @Html.ActionLink("Details", "Details", new { id = item.MaNH }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.MaNH })
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</div>

